<h4 style="text-align:center">LISTADO</h4>
    <ul class="list-group">
      <!-- Aqui hemos realizado tod lo explicado en M5.4 NgFor -->
      <!-- Aqui usamos el NgFor,Material 5.5, lo que hacemos es darle clases a los li según si es primero ultimo o par impar-->
        <li

        *ngFor="let personaje of listaPersonajes; let i = index; let esPar=even; let esUltimo=last, let esPrimero = first, let esImpar = odd"

        class="list-group-item d-flex justify-content-between aling-items-center"


        [ngClass]="{
          'list-group-item-primary' : esPrimero,
          'list-group-item-success' : esPar,
          'list-group-item-danger' : esImpar,
          'list-group-item-secondary' : esUltimo
        }">

        <div>
          <span>{{personaje.nombre}} - </span>
          <strong>Fuerza: </strong>
          <span>{{personaje.fuerza}}</span>
          <br>
          <span> Indice:{{i}} - Es Par:{{esPar}} - Es Ultimo:{{esUltimo}} </span>
        </div>

          <button class="btn btn-danger" (click)="eliminarPersonaje(i)">X</button>       <!-- Pongo el buttom para eliminar-->

        </li>


    </ul>
