<header class="bg-primary text-white py-3">
  <div class="container">
    <h1 class="text-center">Listado de Heroes</h1>
  </div>
</header>

<div class="container">

  <h1 class="bg-danger bg-gradient text-white py-3 text-center mt-3" >Centro</h1>

  <p class="bg-success bg-gradient text-white py-3 text-center" >Nombre : {{colegios[contador].nombre}} ||| Localizacion : {{colegios[contador].localidad}}</p>

</div>

<div class="mt-3 text-center">

  <button *ngIf="contador !== 0" class="btn btn-primary" (click)="anterior()">Atrás</button>

  <p class="bg-info-subtle text-black py-1 mt-3">{{contador}}</p>

  <button *ngIf="contador !== colegios.length -1 " class="btn btn-primary" (click)="siguiente()">Siguiente</button>

</div>

<div class="mt-3 text-center" >

  <button class="btn btn-danger" (click)="eliminar()">ELIMINAR</button>
  <button class="btn btn-success" (click)="insertar()">INSERTAR</button>

</div>
