<!-- <h1>{{title}}</h1>
<hr>
<p>Contador: {{contador}}</p>

<button (click)="incrementarPor()">+{{x}}</button>
<button (click)="eliminarPor()">-{{x}}</button>
<button (click)="resetear()">Resetear</button> -->


   <!-- Así podemos añadir un componente, <app-contador></app-contador> lo metemos en este componenete que lo tenemos enlazado con el ts-->


<!-- LLamamos al app de heroe -->
<!-- <app-heroes-heroe> </app-heroes-heroe> -->

<!--Aqui ponemos el componente de Institutos-->
<!-- <app-instituto-instituto></app-instituto-instituto> -->
 <app-heroe-lista></app-heroe-lista>
