<!-- <h1>{{title}}</h1>
<hr>
<p>Contador: {{contador}}</p>

<button (click)="incrementarPor()">+{{x}}</button>
<button (click)="eliminarPor()">-{{x}}</button>
<button (click)="resetear()">Resetear</button> -->


<app-contador></app-contador>


<!-- LLamamos al app de heroe -->
<app-heroes-heroe> </app-heroes-heroe>

<!--Aqui ponemos el componente de Institutos-->
<!-- <app-instituto-instituto></app-instituto-instituto> -->
<app-heroe-lista></app-heroe-lista>
<!-- <app-Instituto-instituto2></app-Instituto-instituto2> -->
