<h4 style="text-align:center" >Añadir Personaje</h4>

    <!-- Material 5.7 -->
    <form class="row" (ngSubmit)="addPersonaje()">

      <!-- Aqui hacemos el M5.6, lo de name es por que estamos en un formulario. Al hacer la caja de bananas, lo que hacemos es bindear con el objeto personaje, por eso cuando lo escribimos en Chrome se ve en caliente,la caja de banana es un dloble bind, los parentesis es el evento de mandar infromacion. -->

      <input type="text"  [(ngModel)]="personaje.nombre" name="nombre" class="form-control mb-2" placeholder="Nombre">
      <input type="text"  [(ngModel)]="personaje.fuerza" name="fuerza" class="form-control mb-2" placeholder="Fuerza">
      <button type="submit" class="btn btn-primary">Añadir</button>       <!-- Pongo el buttom para que no se recarge al pulsar -->


    </form>
