<h1 style="text-align: center;"> DBZ Personajes!!</h1>

<hr>

<div class="row">
  <div class="col">
    <!-- Aqui es lo que hago pasarle los datos de la lista que esta en main-component a la que esta en lista-component -->
    <dbz-lista  [listaPersonajes] = "personajes" (onDeletePersonaje)="deletePersonaje($event)" ></dbz-lista>
  </div>

  <div class="col">
    <!-- Nos subscrivimos al evento -->
    <dbz-add-personaje (onNewPersonaje)="onNewPersonaje($event)"></dbz-add-personaje>
  </div>
</div>



